# SITE OFFLINE FOR UPDATES
#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REQUEST_URI} !/offline/index.html$
#RewriteCond %{REMOTE_HOST} !^87\.194\.135\.193
#RewriteRule $ /offline/index.html [R=302,L]

RewriteEngine On

RewriteRule ^.git - [F,L]

RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_URI} !^/public.*
RewriteRule ^(.*)$ public/$1 [L]

Options All -Indexes