# SITE OFFLINE FOR UPDATES
#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REQUEST_URI} !/offline/index.html$
#RewriteCond %{REMOTE_HOST} !^87\.194\.135\.193
#RewriteRule $ /offline/index.html [R=302,L]

# Block access to system files like log and git
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|git|yml)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

RewriteEngine On

RewriteRule ^experiments/rawkets/*$ / [L,R=302]

#RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_URI} !public/
RewriteRule ^(.*)$ public/$1 [L]

Options All -Indexes