* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #001429;
}

h1 {
	color: #fff;
	font-family: Georgia, serif;
	font-size: 60px;
	margin: 20px 100px;
	text-align: center;
}

p {
	color: #fff;
	font-family: Georgia, serif;
	font-size: 40px;
	margin: 20px 100px;
	text-align: center;
}

#canvas {
	background-color: #001429;
	background: -webkit-gradient(linear, left top, left bottom, from(#000306), to(#001429));
	display: none;
	position: absolute;
}

#attribution {
	bottom: 40px;
	font-family: Helvetica Neue, Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin: 0;
	position: absolute;
	right: 30px;
}

	#attribution a, #attribution a:visited {
		color: #56bff6;
		text-decoration: none;
	}

		#attribution a:hover {
			border-bottom: 1px solid #56bff6;
		}

	#attribution iframe {
		margin-bottom: -3px;
	}
	
	#attribution .fb-button {
		margin-bottom: -5px;
	}

	#attribution .twitter-share-button {
		margin-bottom: -4px;
		margin-right: -16px;
	}

#offline {
	display: none;
	margin-top: -60px;
	position: absolute;
	top: 50%;
	width: 100%;
}

#support {
	display: none;
	margin-top: -60px;
	position: absolute;
	top: 50%;
	width: 100%;
}

#ping {
	bottom: 40px;
	color: #fff;
	font-family: Helvetica Neue, Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	left: 40px;
	margin: 0;
	position: absolute;
	text-align: left;
}

#twitterSignIn {
	background: url('img/twitter_sign_in.png') no-repeat top left;
	display: block;
	height: 24px;
	width: 151px;
}