* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#canvas {
	background-color: #001429;
	background: -webkit-gradient(linear, left top, left bottom, from(#000306), to(#001429));
	display: block;
	position: absolute;
}

#ping {
	bottom: 20px;
	color: #fff;
	position: absolute;
	right: 20px;
}